@using QuizItUp.Common
@model QuizItUp.Web.ViewModels.Home.IndexViewModel
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="container-md" style="text-align:center">
    <h1 class="homeFont">Let's @GlobalConstants.SystemName!</h1>

    <hr />
    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">
   
                <img src="https://res.cloudinary.com/dlely3oct/image/upload/v1608214827/pics/quiz_xcv7al.svg" alt="Alternate Text" ss="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false" />
            <h2>Create Quizes</h2>
            <p>Create hard quizes and chalenge your frineds and all other playes!</p>
            <p><a class="btn btn-secondary" asp-action="Create" asp-controller="Quizes"  role="button">View</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img src="https://res.cloudinary.com/dlely3oct/image/upload/v1608218114/pics/choose_dcnvrr.svg" alt="Alternate Text" ss="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false" />
            <h2>Take Quizes</h2>
            <p>Pass quizes develped by other, show your skils and knowlede!</p>
            <p><a class="btn btn-secondary" asp-action="All" asp-controller="Quizes" role="button">View</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img src="https://res.cloudinary.com/dlely3oct/image/upload/v1608218280/pics/trophy_gwj73g.svg" alt="Alternate Text" ss="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false" />
            <h2>Earn Trophies</h2>
            <p>Take quizes and earn trophies in order to get into top playes class!</p>
            <p><a class="btn btn-secondary" asp-action="Ranking" asp-controller="Ranks" role="button">View</a></p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

    <hr />

</div>