@{
    this.ViewData["Title"] = "Privacy Policy";
}

@await Html.PartialAsync("_MainHeaderPartial", ViewData["Title"])
<p>This project is licensed under MIT licesne.</p>
<p>This project is defence project for Software University!</p>
