@using QuizItUp.Common
@model QuizItUp.Web.ViewModels.Categories.IndexCategoryViewModel
@{
    this.ViewData["Title"] = "Categories";
}


<div class="container">
    <div class="row" id="ads">

        @foreach (var category in Model.Categories)
        {
            <div class="col-md-4">
                <a asp-action="AllQuizesPerCategory" asp-controller="Categories" asp-route-id="@category.Id">
                    <div class="card rounded">
                        <div class="card-image">
                            <img class="img-fluid" src="@category.Picture.Url" alt="Alternate Text" />
                        </div>
                        <div class="card-body text-center">
                            <div>
                                <h5>@category.Title</h5>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
</div>