@using QuizItUp.Data.Models
@using Microsoft.AspNetCore.Identity
@model QuizItUp.Web.ViewModels.Ranks.AllRanksViewModel
@inject UserManager<ApplicationUser> UserManager
@{
    this.ViewData["Title"] = "Ranks Road";
    int cocunter = 0;
}

@await Html.PartialAsync("_MainHeaderPartial", ViewData["Title"])
<div class="container">
    @foreach (var rank in Model.Ranks.OrderBy(x => x.TrophiesNeeded))
    {
        cocunter++;
        <div href="#@cocunter" class="card text-center">
            <div class="card-header">
                Trophies needed: @rank.TrophiesNeeded
            </div>
            <div class="card-body" style=" background-color: @rank.Color;">
                <div class="row">
                    <div class="col-5">
                        @if (this.UserManager.GetUserAsync(User).Result.Trophies >= rank.TrophiesNeeded)
                        {
                            <span>Passed!</span>
                        }
                    </div>
                    <h1 class="card-title"> @rank.Name</h1>
                    <div class="col-5"></div>
                </div>
            </div>

            <!-- Container element -->
            <div class="parallax"></div>
        </div>
    }

<script>
</script>
</div>