@using QuizItUp.Common
@model QuizItUp.Web.ViewModels.Quizes.QuizInputModel
@using QuizItUp.Web.ViewModels.Quizes
@{
    this.ViewData["Title"] = "Create quiz";
}

@await Html.PartialAsync("_MainHeaderPartial", ViewData["Title"])


<div class="container justify-content-center mainColor">
    <form action="" method="post" enctype="multipart/form-data">
        <div asp-validation-summary="All" class="text-danger">   </div>

        <div class="form-group ">
            <label asp-for="Name">Quiz name</label>
            <input class="form-control" placeholder="Enter quiz name" asp-for="Name">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Description">Quiz Description</label>
            <textarea rows="3" class="form-control" placeholder="Quiz Description" asp-for="Description"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="TotalTimeToComplete">Quiz time</label>
            <input class="form-control" placeholder="Quiz time - in minutes" asp-for="TotalTimeToComplete">
            <span asp-validation-for="TotalTimeToComplete" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Category">Quiz category</label>
            <select asp-for="Category" asp-items="@Html.GetEnumSelectList<Categories>()" class="form-control">
            </select>
            <span asp-validation-for="TotalTimeToComplete" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Tags">Quiz tag</label>
            <input class="form-control" placeholder="Quiz tag - another keyword for your quiz" asp-for="Tags">
            <span asp-validation-for="Tags" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Picture">Choose picture for you quiz</label>
            <input type="file" class="form-control-file" asp-for="Picture">
            <span asp-validation-for="Picture" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-secondary">Create quiz</button>
    </form>

    <partial name="_ValidationScriptsPartial" />
</div>