@using QuizItUp.Common
@model QuizItUp.Web.ViewModels.Quizes.IndexQuizViewModel
@{
    this.ViewData["Title"] = "All quizes";
}


<h1 class="text-center">My quizes</h1>
<hr />
<br />
@await Html.PartialAsync("_AllQuizesPartial", Model)