
<div class="container">
    <a class="btn-secondary btn-lg btn-block" asp-area="Administration" asp-controller="Categories" asp-action="Index">Categories Admin</a>
    <a class="btn-secondary btn-lg btn-block" asp-area="Administration" asp-controller="Badges" asp-action="Index">Badges Admin</a>
    <a class="btn-secondary btn-lg btn-block" asp-area="Administration" asp-controller="Ranks" asp-action="Index">Ranks Admin</a>
</div>
